@media screen and (max-width: 576px) {
  .menu__title__container > h1 {
    font-size: 5rem;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .menu__title__container > h1 {
    font-size: 7rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1015px) {
  .menu__title__container > h1 {
    font-size: 10rem;
  }
}
