.container__small-card {
  display: flex;
  max-width: 90%;
}

.small-card-photo {
  width: 12rem;
  height: 100%;
}

.small-card-photo > img {
  width: 100%;
  height: 100%;
}

.small-card-right {
  width: 28rem;
  height: 100%;
  margin-left: 1rem;
}

.small-card-right > span {
  color: grey;
}

.small-card-description {
  margin-top: 0.5rem;
}

.small-card-description > p {
  font-weight: bold;
  font-size: 25px;
}
