@media screen and (max-width: 576px) {
  .container__articles {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    margin-left: 0;
  }

  .articles__main {
    width: 100%;
    margin-bottom: 3rem;
  }

  .articles__others {
    width: 100%;
    justify-content: center;
    margin-left: 1.5rem;
  }
}

@media screen and (min-width: 577px) and (max-width: 1015px) {
  .container__articles {
    flex-direction: column;
    margin-left: 0;
    height: 100%;
  }

  .articles__main {
    width: 100%;
    margin-bottom: 3rem;
  }

  .articles__others {
    width: 100%;
  }
}
