<app-title cardTitle="The Game"></app-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card id="1" cardPhoto="https://sm.ign.com/t/ign_br/news/d/diablo-4s-/diablo-4s-first-xp-and-gold-boost-promo-set-for-same-weekend_g8sj.960.jpg" cardDescription='A Blizzard anunciou o primeiro fim de semana de aumento de XP e Ouro de Diablo 4, que coincide com o lançamento de Starfield. Seria esta uma estratégia da Blizzard para roubar um pouco da atenção do RPG da Bethesda?' cardTitle="Diablo 4 terá XP e ouro aumentado no mesmo final de semana do lançamento de Starfield"></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card id="2" cardDate="28/08/2023" cardDescription="Gamescom 2023: Dungeons of Hinterberg é a mistura perfeita de RPG de ação com social sim | Preview" cardPhoto="https://sm.ign.com/t/ign_br/screenshot/default/croppedimage1201631-dungeons-of-hinterberg-background_466h.320.jpg"></app-small-card>
    <hr>
    <app-small-card id="3" cardDate="29/08/2023" cardDescription="Gamescom 2023: Forza Motorsport é o apogeu automotivo" cardPhoto="https://sm.ign.com/t/ign_br/preview/f/forza-moto/forza-motorsport-is-car-porn-at-its-best-gamescom-2023_c6gd.320.jpg"></app-small-card>
    <hr>
    <app-small-card id="4" cardDate="30/08/2023" cardDescription="Espada icônica presente em outras franquias da FromSoftware aparece em Armored Core 6" cardPhoto="https://sm.ign.com/t/ign_br/blogroll/a/armored-co/armored-core-6-gets-off-to-flying-start-on-steam-thanks-to-e_as28.280.jpg"></app-small-card>
  </div>
</div>