* {
  background-color: #121212;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Segoe UI";
}

a {
  text-decoration: none;
}

hr {
  border-color: #1c1c1c;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
